{% extends "base.html" %}

{% block title %}CMS Upload Utility: Settings{% endblock %}

{% block js %}<script type="text/javascript" src="{{ settings.MEDIA_URL }}/js/jquery-1.4.4.min.js"></script>{% endblock %}

{% block subheader %}
<div id="sub-header">
    <ul>
        <li class="bold"><a href="{{ settings.ROOT_URL }}options/">Options</a></li>
        <li><a href="{{ settings.ROOT_URL }}batch_upload/">Batch Upload</a></li>
        <li><a href="{{ settings.ROOT_URL }}single_upload/">Single Upload</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="settings">
{% if message %}
<div id="message">
    {{ message }}
</div>
{% endif %}

{% if config %}
<div id="ro_settings">
<p><strong>{{ config.email }}</strong></p>
CMS Type: {{ config.get_cms_type_display }} <br/>
CMS URL: {{ config.cms_url }}<br/>
CMS User: {{ config.cms_user }}<br/>
<br/>
<a href="#" id="change">Change Settings</a>
</div>
<div id="rw_settings" class="formset">
    <strong>Save Settings:</strong><br/>
<form method="POST" action="">
        <table> 
            {{ form.as_table }}
        </table> 
        <input type="submit" value="Save Settings">
</form>
</div>

{% endif %}

{% if not config %}
<div id="set_settings" class="formset">
    <strong>Save Settings:</strong><br/>
<form method="POST" action="">
        <table> 
            {{ form.as_table }}
        </table> 
        <input type="submit" value="Save Settings">
</form>
</div>
{% endif %}
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#change').click(function(){
            $('#rw_settings').toggle();
            $('#ro_settings').toggle();
        });
    });
</script>
{% endblock %}
